<% layout('layouts/boilerplate') %>

	<div class="row">
		<div class="col-6 offset-3">
			<div class="card mb-1">
				  <img src="<%=ground.image%>" class="card-img-top" alt="">
				  <div class="card-body">
				    <h5 class="card-title"><%=ground.title%></h5>
				    <p class="card-text"><%=ground.description%></p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item text-muted"><%=ground.location%></li>
				    <li class="list-group-item">$<%=ground.price%>/night</li>
				  </ul>
				  <div class="card-body">
				    <a href="/campgrounds/<%=ground._id%>/edit" class="card-link btn btn-success mb-1">Edit</a>
				    <form style="display: inline;" method="POST" action="/campgrounds/<%=ground._id%>?_method=DELETE">
						<button class="btn btn-danger mb-1">DELETE</button>
				  	</form>
				    <a href="/campgrounds" class="btn btn-secondary mb-1">Back to all campgrounds</a>
				  </div>
				  <div class="card-footer text-muted">
				  	2 days ago
				  </div>
 			</div>
		</div>
	</div>

	<!-- <h1><%=ground.title%></h1>
	<img src="<%=ground.image%>" alt="">
	<p><%=ground.description%></p>
	<ul>
		<li><%=ground.price%></li>
		<li>--<%=ground.location%></li>
	</ul>
	<br>
	<a class="btn btn-secondary mb-1" href="/campgrounds">Back to all campgrounds</a>
	<br>
	<a class="btn btn-primary mb-1" href="/campgrounds/<%=ground._id%>/edit">Edit the campground</a>
	<form method="POST" action="/campgrounds/<%=ground._id%>?_method=DELETE">
		<button class="btn btn-primary mb-1">DELETE</button>
	</form>
 -->