<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=ground.title%></title>
</head>		
<body>
	<h1><%=ground.title%></h1>
	<ul>
		<li><%=ground.price%></li>
		<li>--<%=ground.location%></li>
	</ul>
	<a href="/campgrounds">Back to all campgrounds</a>
	<form method="POST" action="/campgrounds/<%=ground._id%>?_method=DELETE">
		<button style="background-color: maroon">DELETE</button>
	</form>
</body>
</html>