<% layout('layouts/boilerplate') %>
	<div class="row mt-4">
		<div class="col-6">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				  <div class="carousel-inner">
				  	<% let x = 0%>
				  	<% for(let img of ground.images) {%>
				  		<% x++ %>
					    <div class="carousel-item <%= (x==1) ? 'active' : ''%>">
					      <img src="<%=img.url%>" class="d-block w-100" alt="...">
					    </div>
				    <% } %>
				  </div>
				  <% if(ground.images.length>1) {%>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
				  <% } %>
			</div>
			<div class="card mb-3">
				  <div class="card-body">
				    <h5 class="card-title"><%=ground.title%></h5>
				    <p class="card-text"><%=ground.description%></p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item text-muted"><%=ground.location%></li>
				    <li class="list-group-item ">Submitted by <%=ground.author.username%></li>
				    <li class="list-group-item">$<%=ground.price%>/night</li>
				  </ul>
				  <% if(currentUser && ground.author.equals(currentUser._id)) {%>
					  <div class="card-body">
					    <a href="/campgrounds/<%=ground._id%>/edit" class="card-link btn btn-success mb-1">Edit</a>
					    <form style="display: inline;" method="POST" action="/campgrounds/<%=ground._id%>?_method=DELETE">
							<button class="btn btn-danger mb-1">DELETE</button>
					  	</form>
					    <a href="/campgrounds" class="btn btn-secondary mb-1">Back to all campgrounds</a>
					  </div>
				  <% } %>
				  <div class="card-footer text-muted">
				  	2 days ago
				  </div>
 			</div>
		</div>
		<div class="col-6" id="main">
			<% if(currentUser) {%>
				<h2>Leave a review</h2>
	 			<form class="mb-3 validate-form" action="/campgrounds/<%=ground._id%>/review" method="POST" novalidate>
	 				<fieldset class="starability-checkmark" style="min-height: 40px">
					  <input type="radio" id="first-rate1" name="review[rating]" value="1" checked />
					  <label for="first-rate1" title="Terrible">1 star</label>
					  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
					  <label for="first-rate2" title="Not good">2 stars</label>
					  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
					  <label for="first-rate3" title="Average">3 stars</label>
					  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
					  <label for="first-rate4" title="Very good">4 stars</label>
					  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
					  <label for="first-rate5" title="Amazing">5 stars</label>
					</fieldset>
	 				<div class="mb-3 pt-0">
	 					<label class="form-label" for="body" style="font-size: 1.1rem">Add review</label>
	 					<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
	 					<div class="valid-feedback">
							Looks good
						</div>
						<div id="validationServerFeedback" class="invalid-feedback">
		      				Please provide a review.
		    			</div>
	 				</div>
	 				<button class="btn btn-success">Submit</button>
	 			</form>
 			<% }%>
 			<% for(review of ground.reviews) {%>
 				<div class="card mb-3" id="i<%=review._id%>">
	 				<div class="card-body" >
	 					<h5 class="card-title">Rating:</h5>
						  <p class="starability-result" data-rating="<%=review.rating%>">
						    Rated: <%=review.rating%> stars
						  </p>
	 					<h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username%></h6>
				    	<p class="card-text" id="edit-p">Review: <%=review.body%></p>
	 				</div>
	 				<% if((currentUser && review.author.equals(currentUser._id)) || (currentUser && ground.author.equals(currentUser._id))) {%>
		 				<div class="card-body pt-0">
					    	<a id="edit-button" class="user card-link btn btn-sm btn-success mb-1" data-rev="<%=review%>">Edit</a>
						    <form style="display: inline;" method="POST" action="/campgrounds/<%=ground._id%>/review/<%=review._id%>?_method=DELETE">
								<button class="btn btn-sm btn-danger mb-1">DELETE</button>
						  	</form>
					  	</div>
				  	<% } %>
 				</div>
 			<%}%>
		</div>
	</div>

	<script>

		const parentElement = document.querySelector('#main');

		function remove_linebreaks( s ) {
			s=s.replace("{","");
			s= s.replace("}","");
			s= s.replace( /[\r\n]+/gm, "" );
			s= s.trim();
			return s;
		}
		
		const editFunction = function(e) {
			// console.log(e.target);
			// console.log(this);
			if(!e.target.matches("a")) return;
			el = e.target;
			// console.log('the value of el.dataset.rev is', el.dataset.rev);
			let n = remove_linebreaks(el.dataset.rev);
			var properties = n.split(',  ');
			var obj = {};
			properties.forEach(function(property) {
			    var tup = property.split(': ');
			    obj[tup[0]] = tup[1];
			});
			// console.log('the value of obj is',obj)
			const element = document.querySelector(`#i${obj._id}`);
			element.style.outline = 'none !important';
			element.style.borderColor = '#719ece';
			element.style.boxShadow = '0 0 10px #719ece';
			var bod = '';
			<% for(let r of ground.reviews) {%>
				if('<%-r._id%>'===obj._id){
					bod = '<%-r.body%>';
				}
			<% }%>
			// console.log(bod);
			// ${ (obj.rating===1)? 'checked':''}
			const str = 
				`<form method="POST" action="/campgrounds/<%=ground._id%>/review/${obj._id}?_method=PATCH" class="validate-form mb-3 mx-3 mt-3" novalidate>
				 	<div class="card-body pb-0">
					 	<fieldset class="starability-checkmark" style="min-height: 40px">
						  <input type="radio" id="1" name="review[rating]" value="1" ${(obj.rating==1)? 'checked':''}/>
						  <label for="1" title="Terrible">1 star</label>
						  <input type="radio" id="2" name="review[rating]" value="2" ${ (obj.rating==2)? 'checked':''} />
						  <label for="2" title="Not good">2 stars</label>
						  <input type="radio" id="3" name="review[rating]" value="3" ${ (obj.rating==3)? 'checked':''}/>
						  <label for="3" title="Average">3 stars</label>
						  <input type="radio" id="4" name="review[rating]" value="4" ${ (obj.rating==4)? 'checked':''}/>
						  <label for="4" title="Very good">4 stars</label>
						  <input type="radio" id="5" name="review[rating]" value="5" ${ (obj.rating==5)? 'checked':''}/>
						  <label for="5" title="Amazing">5 stars</label>
						</fieldset>
					</div>
				 	<div class="mb-3 card-body pt-0">
				 		<label for="body1" class="form-label card-title"><h3 class="card-title">Edit review</h3></label>
				 		<textarea name="review[body]" id="body1" cols="30" rows="3" class="form-control" required>${bod}</textarea>
				 		<div class="valid-feedback">
				 			Looks good
				 		</div>
				 		<div id="validationServerFeedback01" class="invalid-feedback">
	 						Please provide a review.
				 		</div>
				 	</div>
				 	<button class="btn btn-sm btn-info">
	  					Submit
				 	</button>
				 	<a id="backToNormal" class="btn btn-sm btn-secondary">Cancel</a>
				 </form>`

			element.innerHTML = str; 

			document.querySelector('#backToNormal').addEventListener('click', function (e) {
				let o = `  _id: ${obj._id},  body: ${obj.body},  rating: ${obj.rating}`;

				let original = 
					`<div class="card-body" >
						<h5 class="card-title">Rating:</h5>
						<p class="starability-result" data-rating="<%=review.rating%>">
						  Rated: <%=review.rating%> stars
						</p>
	 					<h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username%></h6>
				    	<p class="card-text" id="edit-p">Review: <%=review.body%></p>
		 			 </div>
	 				 <div class="card-body pt-0">
				     	 <a id="edit-button" class="card-link btn btn-sm btn-success mb-1" data-rev="${o}">Edit</a>
					     <form style="display: inline;" method="POST" action="/campgrounds/<%=ground._id%>/review/${obj._id}?_method=DELETE">
						     <button class="btn btn-sm btn-danger mb-1">DELETE</button>
					     </form>
				  	 </div>`
				element.style.outline = '';
				element.style.borderColor = '';
				element.style.boxShadow = '';
				element.innerHTML = original;
			})

			var forms = document.querySelectorAll('.validate-form')
			// console.log(forms);
		  	// Loop over them and prevent submission
			  Array.prototype.slice.call(forms)
			    .forEach(function (form) {
			      form.addEventListener('submit', function (event) {
			        if (!form.checkValidity()) {
			          event.preventDefault()
			          event.stopPropagation()
			        }

			        form.classList.add('was-validated')
			      }, false)
			    })

		}

		parentElement.addEventListener('click', editFunction);

	</script>

