<% layout('layouts/boilerplate') %>
	<h1><%=ground.title%></h1>
	<ul>
		<li><%=ground.price%></li>
		<li>--<%=ground.location%></li>
	</ul>
	<a href="/campgrounds">Back to all campgrounds</a>
	<br>
	<a href="/campgrounds/<%=ground._id%>/edit">Edit the campground</a>
	<form method="POST" action="/campgrounds/<%=ground._id%>?_method=DELETE">
		<button>DELETE</button>
	</form>
