<% layout('layouts/boilerplate') %>
<body>
	<h1>This is the page to show all the campgrounds in the database</h1>
		<% for(let x of grounds) {%>
		    <div class="card">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<img class="img-fluid" src="<%=x.images[0].url%>" alt="">
		    		</div>
		    		<div class="col-md-8">
		    			<div class="card-body">
		    				<h5 class="card-title">
		    					<%=x.title%>
		    				</h5>
		    				<p class="card-text"><%=x.description%></p>
		    				<p class="card-text">
		    					<small class="text-muted"><%=x.location%></small>
		    				</p>
		    				<a href="/campgrounds/<%=x._id%>" class="btn btn-primary">View <%=x.title%></a>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		<%}%>
	<a href="/campgrounds/new">Add a new campground</a>
</body>
